amqp==5.0.6
anchor-exp==0.0.2.0
anyio==3.5.0
AnyQt==0.1.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
baycomp==1.0.2
beautifulsoup4==4.9.3
bleach==3.2.1
blis==0.7.4
Bottleneck==1.3.4
brotlipy==0.7.0
CacheControl==0.12.11
cachetools==4.2.1
catalogue==2.0.3
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
charset-normalizer==2.0.12
click==7.1.2
cloudpickle==1.6.0
commonmark==0.9.1
cryptography==3.3.1
cycler==0.10.0
cymem==2.0.5
debtcollector==2.2.0
decorator==4.4.2
defusedxml==0.6.0
dictdiffer==0.9.0
dnspython==1.16.0
docutils==0.18.1
entrypoints==0.3
et-xmlfile==1.1.0
eventlet==0.30.2
extras==1.0.0
fasteners==0.16
filelock==3.7.0
fixtures==3.0.0
futurist==2.3.0
graphviz==0.16
greenlet==1.0.0
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
huggingface-hub==0.6.0
idna==2.10
imageio==2.9.0
importlib-metadata==4.11.3
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.14
jedi==0.17.0
jeepney==0.8.0
Jinja2==2.11.2
joblib==1.0.0
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyterlab==2.2.6
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
keyring==23.5.0
keyrings.alt==4.1.0
kiwisolver==1.3.0
kombu==5.0.2
ldap3==2.9
lime==0.2.0.1
linecache2==1.0.0
llvmlite==0.36.0
lockfile==0.12.2
logutils==0.3.5
Mako==1.1.4
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.2
murmurhash==1.0.5
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
netaddr==0.8.0
netifaces==0.10.9
networkx==2.5.1
nltk==3.7
notebook==6.1.5
numba==0.53.1
numpy==1.19.2
olefile==0.46
openpyxl==3.0.9
openTSNE==0.6.2
orange-canvas-core==0.1.26
orange-widget-base==4.16.1
Orange3==3.32.0
oslo.concurrency==4.4.0
oslo.config==8.5.0
oslo.context==3.2.0
oslo.i18n==5.0.1
oslo.log==4.4.0
oslo.messaging==12.7.1
oslo.middleware==4.2.0
oslo.serialization==4.1.0
oslo.service==2.5.0
oslo.utils==4.8.0
packaging==21.3
pandas==1.4.2
pandocfilters==1.4.3
parso==0.8.1
Paste==3.5.0
PasteDeploy==2.1.1
pathy==0.5.2
patsy==0.5.2
pbr==5.5.1
pecan==1.4.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pip==20.3.3
plotly==4.14.3
preshed==3.0.5
prometheus-client==0.9.0
prompt-toolkit==3.0.8
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycadf==3.1.1
pycparser==2.20
pydantic==1.7.3
Pygments==2.11.2
pyinotify==0.9.6
pynndescent==0.5.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
pyqtgraph==0.12.3
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
python-louvain==0.16
python-mimeparse==1.6.0
pytz==2020.4
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==20.0.0
qasync==0.23.0
qtconsole==4.7.7
QtPy==1.9.0
regex==2022.4.24
repoze.lru==0.7
requests==2.25.1
retrying==1.3.3
rfc3986==1.4.0
Routes==2.5.1
scikit-image==0.18.1
scikit-learn==1.0.1
scikit-posthocs==0.6.7
scipy==1.5.2
seaborn==0.11.1
SecretStorage==3.3.2
Send2Trash==1.5.0
sentence-transformers==2.2.0
sentencepiece==0.1.96
serverfiles==0.3.1
shap==0.39.0
sip==4.19.13
six==1.15.0
sklearn==0.0
slicer==0.0.7
smart-open==3.0.0
sniffio==1.2.0
soupsieve==2.2.1
spacy==3.0.6
spacy-legacy==3.0.5
srsly==2.4.1
statsd==3.3.0
statsmodels==0.13.2
stevedore==3.3.0
tabulate==0.8.9
terminado==0.9.1
testpath==0.4.4
testtools==2.4.0
thinc==8.0.3
threadpoolctl==2.1.0
tifffile==2021.4.8
tokenizers==0.12.1
torch==1.11.0
torchvision==0.12.0
tornado==6.1
tqdm==4.60.0
traceback2==1.4.0
traitlets==5.0.5
transformers==4.19.2
typer==0.3.2
typing-extensions==4.2.0
umap-learn==0.5.1
unittest2==1.1.0
urllib3==1.26.2
vine==5.0.0
waitress==2.0.0
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.7
WebTest==2.0.35
wheel==0.36.2
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.4.1
xlrd==2.0.1
XlsxWriter==3.0.3
yappi==1.3.2
yellowbrick==1.3.post1
zipp==3.4.0
